<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>User Login and Session</title>
	<link rel="stylesheet" href="../static/css/styles.css">
</head>
<body ng-app="myApp">
	<div ng-controller="myController">
		<h2>Welcome. You are Logged In as <%= username %></h2>
		<a href="/logout">Logout</a>
		<a href="/user">Edit User</a>
		<p>Place Your Code Here</p>
	</div>
	<hr>
	<%= msg %>
	<script src="http://code.angularjs.org/1.2.9/angular.min.js"></script>
	<script src="../static/js/my_app.js"></script>
</body>
</html>